*.egg
*.egg-info
*.mo
*.pyc
*~
.*.kate-swp
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
coverage/
develop-eggs/
downloads/
eggs/
include/
lib/
local.cfg
Makefile.local
parts/
src/openmultimedia.*
travis-local.cfg
var/
